.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-padding: 5;
    -fx-text-fill: black;
    -fx-highlight-fill: lightgrey;
    -fx-background-color: transparent;
}

.text-area:focused .content {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-highlight-fill: lightgrey;
}

.text-area .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical {
  -fx-pref-width: 1;
  -fx-opacity: 0;
}
.text-area .scroll-bar:horizontal {
  -fx-pref-height: 1;
  -fx-opacity: 0;
}

