.masker-pane {}

.masker-pane .masker-glass {
    -fx-background-color: rgba(0, 0, 0, .3);
}

.masker-pane .masker-text {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-alignment: left;
    -fx-wrap-text: true
}

.masker-pane .masker-center {
    -fx-background-color: rgba(0, 0, 0, .6);
    -fx-padding: .25in;
    -fx-background-radius: .1in;

    -fx-max-height: 2.00in;
    /*-fx-min-width: 2.00in;*/
    /*-fx-max-width: 3.00in;*/
}

.masker-pane .progress-indicator .percentage {
    -fx-fill: #dddddd;
}

.masker-pane .progress-indicator .determinate-indicator {
    -fx-min-width: 0.70in;
    -fx-min-height: 0.70in;
}

/******************************************************************************
 *
 * NotificationPane -> Light theme -> override with wrap text
 *
 *****************************************************************************/

.notification-pane .notification-bar > .pane .label {
    -fx-font-size: 1.166667em; /*15px;*/
    -fx-text-fill: #292929;
    -fx-wrap-text: true;
}